# OS / editor
*.swp
*.swo
.DS_Store

# Node
node_modules/

# Laravel
/vendor/
.env
/storage/*.key
/storage/logs/
bootstrap/cache/

# Accidental files from copy/paste
present
@php
email
enrolled
serial
student
id
id))
format('M
get()
group(function
links()
name
name('*
route('*
assertDatabaseCount('*
assertDatabaseHas('*
compose.yaml.save
/public/storage
