vendor/
node_modules/
.env
.env.*
storage/*.key
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
public/build/
bootstrap/cache/*.php
*.sql
*.tar.gz
*.dump
*.zip
*.save
*.swp
*.bak
*.backup
*phpy
clean-project/
backup.sh
backup.shy
